<nav class="nav--wrapper">
	<div class="nav-global--wrapper">
		<div class="content-area">
			<div class="nav-global">
				<div class="nav-brand">
					<a href="#">
						<img class="nav-logo" src="{{ header_logos.UCSF_logowhite_small}}" alt="UCSF Logo White Small">
						<span class="nav-title">University of California San Francisco</span>
					</a>
				</div>
				{% if global_header_links %}
					<ul class="nav-link-list">
					{% for item in global_header_links.links %}
						<li><a href="{{ item.link }}">{{ item.label }}</a></li>
					{% endfor %}
						<li>
							<div class="search-box--wrapper">
								<form action="#" method="GET" name="form-search" id="form-search">
									<div class="search-field--wrapper">
										<span class="placeholder">Search give.ucsf.edu</span>
										<input class="input-text" type="text" name="search" id="searchDesktop">
										<span class="fa fa-search search-icon"></span>
										<a class="hidden anchor" name="search-button" id="search-button">Go</a>
									</div>
									<div class="search-advanced-form">
										<div class="radio-circle">
											<input type="radio" name="search-type" id="search-type-ucsf" value="all">
											<div class="radio-ui"><span class="fa fa-check checkmark"></span></div>
										</div>
										<label for="search-type-ucsf">All UCSF</label>
										<div class="radio-circle">
											<input type="radio" name="search-type" id="search-type-give" value="give">
											<div class="radio-ui"><span class="fa fa-check checkmark"></span></div>
										</div>
										<label for="search-type-give">give.UCSF.edu</label>
										<div class="advanced-form-close-button"></div>
									</div>
								</form>
							</div>
							<a class="search-advanced-form-toggle">
								ADVANCED
							</a>
						</li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="nav-main--wrapper">
		<div class="content-area">
			<div class="nav-main">
				<div class="nav-main-brand">
					<a href="#" title="Giving to UCSF">
						<img class="nav-logo" src="{{ header_logos.UCSF_logobox_small}}" alt="UCSF Navy Logo Box">
						<span class="nav-site-title">Giving to UCSF</span>
					</a>
				</div>
				{% if mobile_toggles %}
				<ul class="nav-mobile-toggles">
					{% for item in mobile_toggles.buttons %}
					    <li><button class="{{ item.class }}"><span class="{{ item.icon }}"></span></button></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if nav_links.links %}
					<ul class="nav-main-links">
						{% for item in nav_links.links %}
							<li>
								<a href="{{ item.link }}">{{ item.label }}</a>
								{% if item.sublinks %}
									<span class="line"></span>
									<ul class="dropdown-menu">
									{% for item in item.sublinks %}
										<li><a href="{{ item.link }}">{{ item.label }}</a></li>
									{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
							<li><a class="btn btn--with-icon header-give-btn" href="#">Give <span class="fa fa-heart"></span></a></li>
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="nav-main-mobile-search">
		<form action="" method="GET" name="form-search">
			<div class="mobile-search-field--wrapper">
				<div class="mobile-field-ui">
					<span class="placeholder">Search</span>
					<input class="input-text" type="text" name="search" id="searchMobile">
					<span class="fa fa-search search-icon"></span>
					<a class="hidden anchor" name="search-button" id="search-button">Go</a>
				</div>
			</div>
			<div class="mobile-search-advanced-form">
				<div class="mobile-search-option">
					<div class="radio-circle">
						<input type="radio" name="search-type" id="search-type-ucsf" value="all">
						<div class="radio-ui"><span class="fa fa-check checkmark"></span></div>
					</div>
					<label for="search-type-ucsf">All UCSF</label>
				</div>
				<div class="mobile-search-option">
					<div class="radio-circle">
						<input type="radio" name="search-type" id="search-type-give" value="give">
						<div class="radio-ui"><span class="fa fa-check checkmark"></span></div>
					</div>
					<label for="search-type-give">give.UCSF.edu</label>
				</div>
				<div class="advanced-form-close-button"></div>
			</div>
			<!-- <div class="mobile-search-submit--wrapper">
				<button class="btn btn--secondary search-submit" type="submit">Search</button>
			</div> -->
		</form>
	</div>
	<div class="nav-main-mobile" aria-hidden="true">
		{% if nav_links.links %}
			<ul class="">
			{% for item in nav_links.links %}
				<li role="menuitem" aria-haspopup="true">
					<a href="{{ item.link }}">{{ item.label }}</a>
					{% if item.sublinks %}
					<span class="display-arrow fa fa-play"></span>
					<ul class="dropdown-menu">
					{% for item in item.sublinks %}
						<li><a href="{{ item.link }}">{{ item.label }}</a></li>
					{% endfor %}
					</ul>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</div>
</nav>
<div class="contents--wrapper">
<div class="content-area">
	<div class="column-wrapper">
		<div class=" column-large-8 column-medium-8 column-small-12 column-xsmall-12">
				<div class="header-landing-no-photo">
					<h1 class="oxford-blue-text">{{ page_title }}</h1>
				</div>
		</div>
	</div>
	<div class="column-wrapper">
		<div class=" column-large-8 column-medium-8 column-small-12 column-xsmall-12">
			<div class="header-section section--intro-text">
			    {{ intro_text |raw }}
			</div>
			<div class="block-honor-page-body">
				<h3 class="oxford-blue-text granjon-heading-text">How to Make Your Tribute Gift</h3>

				<ul class="htmytg-list">
					<li>Make your gift online.</li>
				</ul>
				<div class="non-list-item body-give-link">
					<a href="#" class="btn btn--primary-small">Give</a>
					<a href="#" class="btn btn--primary">Give</a>
				</div>
				<ul class="htmytg-list">
					<li>To send your gift by mail, please enclose a check payable to UCSF Foundation and a note regarding the gift to
		              the address below.
		         	</li>
		         </ul>
		  		<div class="non-list-item address">
		  			<address>
		  			<strong>UCSF</strong><br/>
					P.O. Box 45339<br/>
					San Francisco, CA 94145-0339<br/>
		  			</address>
		  		</div>
		  		<div class="non-list-item note">
		  			<p>
						<strong>In the note, please include the following:</strong><br>
						How you wish to designate your gift. View a list of UCSF giving opportunities.
						Whether the contribution is in honor or memory of someone. Plaese include their name so that we can notify them of your gift. UCSF will not share the amount of the contribution.
					</p>
				</div>
			</div>

			<div class="block-story-nugget">
				<div class="story-nugget-display-image" style="background-image: url('{{ image }}');"></div>
				<div class="story-nugget-data">
					<div class="story-nugget-content--wrapper">
						<div class="story-nugget-title column-large-12 column-medium-12 column-small-12 column-xsmall-12">
							<h4 class="background--{{ bgcolor }}">{{ title }}</h4>
						</div>
						<div class="story-nugget-content column-large-12 column-medium-12 column-small-12 column-xsmall-12">
							{{ content|raw }}
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="column-large-3 column-large-offset-1 column-medium-4 column-small-12 column-xsmall-12">
			<div class="ways-to-give-form-small">
				{% if give_ways_content.small %}

					<h4>{{ give_ways_content.small.heading }}</h4>

					{% if give_ways_content.small.body %}
						<p>{{ give_ways_content.small.body }}</p>
					{% endif %}
					<form name="ways-to-give" id="give" method="GET" action="">
						<div class="ways-to-give-options--wrapper ">
					      <div class="ways-to-give-option" role="button">
					            <input type="radio" name="give-value" id="give_value_50" value="50" />
					            <label for="give_value_50">$50</label>
					        </div>
					         <div class="ways-to-give-option" role="button">
					            <input type="radio" name="give-value" id="give_value_100" value="100" checked="true"/>
					            <label for="give_value_100">$100</label>
					        </div>
					        <div class="ways-to-give-option" role="button">
					            <input type="radio" name="give-value" id="give_value_200" value="200" />
					            <label for="give_value_200">$200</label>
					        </div>
					         <div class="ways-to-give-option" role="button">
					            <input type="radio" name="give-value" id="give_value_500" value="500" />
					            <label for="give_value_500">$500</label>
					        </div>
					        <div class="ways-to-give-option" role="button">
					            <input type="radio" name="give-value" id="give_value_other" value="other" />
					            <div class="others-dollar-label"><span>$</span> <span class="label-text">Others</span></div>
					            <input class="give-value-other-input"type="text" name="give-value-other" />
					        </div>
					        <div class="ways-to-give-option submit-btn" role="button">
					           <button class="btn btn--primary" type="submit">Make a gift</button>
					        </div>
						</div>
					</form>
				{% endif %}
			</div>
			<div class="block block-contact-us">
				<h4 class="granjon-heading-text">Contact Us</h4>
				<h5>Department Name</h5>
				<div class="contact-detail-item">
					<span class="fa fa-phone"></span>
					<span itemprop="telephone">
						<a href="tel:+1-415-476-6922">+1 (415) 476-6922</a>
					</span>
				</div>
				<div class="contact-detail-item">
					<span class="fa fa-envelope"></span>
					<span itemprop="email">
						<a href="mailto:email@department.com">email@department.com</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

</div>
<footer class="content-area content-area--fluid">
    <div class="content-area footer--upper">
        <div class="column-wrapper">
            <div class="column-large-1 column-medium-1 column-small-1 xsmall--hidden">
                <a href="#">
                    <img src="{{ footer.logo_link }}" alt="UCSF" class="footer--logo" />
                </a>
            </div>
            {% if footer.left_section %}
                <div class="column-large-3 column-medium-3 column-small-3 xsmall--hidden">
                    {% if footer.left_section.title %}
                        <div class="footer--column-title">
                            {{ footer.left_section.title }}
                        </div>
                    {% endif %}
                    {% if footer.left_section.content %}
                    <div class="footer--column-content">
                        <p>{{ footer.left_section.content }}</p>
                    </div>
                    {% endif %}
                    {% if footer.left_section.links %}
                        <div class="footer--column-links">
                            {% for links in footer.left_section.links  %}
                                <ul class="list--unstyled">
                                    {% for item in links %}
                                        <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if footer.center_section %}
                <div class="column-large-4 column-medium-4 column-small-4">
                    {% if footer.center_section.title %}
                        <div class="footer--column-title">
                            {{ footer.center_section.title }}
                        </div>
                    {% endif %}
                    {% if footer.center_section.content %}
                        <div class="footer--column-content">
                            <p>{{ footer.center_section.content }}</p>
                        </div>
                    {% endif %}
                    {% if footer.center_section.links %}
                        <div class="footer--column-links">
                            {% for links in footer.center_section.links  %}
                                <ul class="list--unstyled">
                                    {% for item in links %}
                                        <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if footer.left_section %}
            <div class="column-large-3 column-medium-3 column-small-3 xsmall--visible">
                {% if footer.left_section.title %}
                    <div class="footer--column-title">{{ footer.left_section.title }}</div>
                {% endif %}
                {% if footer.left_section.content %}
                <div class="footer--column-content">
                    <p>{{ footer.left_section.content }}</p>
                </div>
                {% endif %}
                {% if footer.left_section.links %}
                        <div class="footer--column-links">
                        {% for links in footer.left_section.links  %}
                            <ul class="list--unstyled">
                                {% for item in links %}
                                    <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endif %}

            {% if footer.right_section %}
                <div class="column-large-3 column-large-offset-1 column-medium-3 column-medium-offset-1 column-small-3 column-small-offset-1">
                    {% if footer.right_section.title %}
                        <div class="footer--column-title">{{ footer.right_section.title }}</div>
                    {% endif %}
                    <div class="footer--column-content text-color--dark-gray">
                        <p>
                            +1 (415) 476-6922 <br />
                            <a href="mailto:placeholder@ucsf.org">placeholder@ucsf.org</a>
                        </p>
                        <p>
                            UCSF Foundation <br />
                            UCSF Box 0248 <br />
                            San Francisco, CA 94143-0248
                        </p>
                        <p>Tax ID# 94-2829914</p>
                    </div>
                    {% if footer.social_links %}
                        <div class="footer--social-links">
                            {% if footer.social_links.facebook %}
                                <div class="footer--social-link-item">
                                    <a href="{{ footer.social_links.facebook }}"><i class="fa fa-facebook-official"></i></a>
                                </div>
                            {% endif %}
                            {% if footer.social_links.twitter %}
                                <div class="footer--social-link-item">
                                    <a href="{{ footer.social_links.twitter }}">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="content-area footer--copyright">
        <div class="column-wrapper">
            <div class="footer--copyright-left footer--copyright-text xsmall--hidden">
                © 2016 University of California San Francisco
            </div>
            <div class="footer--copyright-right">
                <div class="footer--copyright-links">
                    {% if footer.privacy %}
                        <div class="footer--copyright-link-item">
                            <a href="{{ footer.privacy.link }}">{{ footer.privacy.label }}</a>
                        </div>
                    {% endif %}
                    {% if footer.contact %}
                        <div class="footer--copyright-link-item">
                            <a href="{{ footer.contact.link }}">{{ footer.contact.label }}</a>
                        </div>
                    {% endif %}

                    <!-- <div class="footer--copyright-link-item">
                        +1 (415) 476-6922
                    </div> -->
                </div>
            </div>
            {% if footer.copyright %}
                <div class="footer--copyright-left footer--copyright-text xsmall--visible">
                    {{ footer.copyright }}
                </div>
            {% endif %}
        </div>
    </div>
</footer>
