<div class="ways-to-give--wrapper" style="background-image: url('{{ img.ways_to_give_bg.src }}');">
	<div class="content-area">
		<div class="column-wrapper">
			<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				<div class="ways-to-give-form">

					{% if give_ways_content %}

						<h3>{{ give_ways_content.full.heading }}</h3>

						{% if give_ways_content.full.body %}
							<p>{{ give_ways_content.full.body }}</p>
						{% endif %}

						{% if give_ways_content.full.cta %}
						<a class="link link--with-icon" href="{{ give_ways_content.full.cta.link }}">
							{{ give_ways_content.full.cta.label }}
						 	<span class="fa-stack link--icon">
				                <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
				                <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
				                <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
				            </span>
				        </a>
				        {% endif %}
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
