<div class="contents--wrapper">
	<div class="hero--wrapper">
		<div class="block block-hero">
			{% block hero_image %}
			<div class="hero-background" style="background-image: url('{{ img.placeholder_16x9.src }}');"></div>
			{% endblock %}
			<div class="content-area">
				<div class="column-wrapper">
					<div class="column-large-7 column-medium-7 column-small-7 column-xsmall-12"></div>
					<div class="column-large-5 column-medium-5 column-small-5 column-xsmall-12">
						<div class="hero-text">
							{% block headline %}
								<h1 class="white-text">{{ hero_content.dummy.heading }}</h1>
							{% endblock %}
							{% block link_to %}
								<a class="link link--with-icon" href="{{ hero_content.dummy.link_href }}">{{ hero_content.dummy.link_text }}
									<span class="fa-stack link--icon">
						                <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
						                <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
						                <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
						            </span>
						        </a>
					        {% endblock %}
						</div>
					</div>
				</div>
			</div>
			{% if hero_content.dummy %}
				{% if  hero_content.dummy.link_text %}
					<a class="link link--with-icon hero-link--mobile" href="{{ hero_content.link_href }}">{{ hero_content.dummy.link_text }}
						<span class="fa-stack link--icon">
			                <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
			                <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
			                <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
			            </span>
			        </a>
			    {% endif %}
			{% endif %}
		</div>
	</div>
</div>
